/** Style for MyList Component */

/* display in a row */
.card-style {
    display:inline-block;
    margin: 5px 5px;
}

/* make button not visible */
.remove-button {
    opacity: 0;
    transition: opacity .35s ease;
}

/* make button visible on hover */
.card-style:hover .remove-button {
    opacity: 1;
}